<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-12 mt-lg-5  ">

                <div class="shadow p-3 pt-0 bg-body rounded-3 inner-form ">

                    <!----------------------------Logo image---------------------------->
                    <div class="">
                        <img src="../../../../assets/todo_0.png" class="w-100" alt="">
                    </div>
                    <!----------------------------Title---------------------------->

                    <div class="pb-3 text-center">
                        <h3 class="text-uppercase fs-1 fw-bold ">Register</h3>
                    </div>
                    <!----------------------------Name---------------------------->

                    <div class="mb-3 input-group">

                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>

                        <input type="text" class="form-control" id="name" aria-describedby="basic-addon1"
                            placeholder="name" [(ngModel)]="name">
                    </div>
                    <!----------------------------Email---------------------------->


                    <div class="mb-3 input-group">

                        <span class="input-group-text" id="basic-addon2"><i class="fas fa-envelope"></i></span>

                        <input type="email" class="form-control" id="email" aria-describedby="basic-addon2"
                            placeholder="Email" [(ngModel)]="email">
                    </div>
                    <!----------------------------Password---------------------------->

                    <div class="mb-3 input-group">
                        <span class="input-group-text" id="basic-addon3"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control" id="password" aria-describedby="basic-addon3"
                            placeholder="Password" [(ngModel)]="password">
                    </div>
                    <!----------------------------Button register---------------------------->

                    <div class="mb-3 text-center">
                        <span class="btn btn-primary w-50" (click)="register()">Register</span>


                    </div>
                    <!----------------------------Login Here---------------------------->

                    <div class="mb-3 text-center">
                        <span class="text-muted">Already have an account? <a routerLink='/login'>Login here</a>
                        </span>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>