<!-- Header -->

<header class="text-center">
    <!-- Container wrapper -->

    <div class="container">
        <!-- Title -->

        <div class="row justify-content-center  ">
            <div class="col-lg-6  col-md-8 col-12 my-3 ">

                <h3 class="fw-bold mt-5 fs-1 text-white">Todo List</h3>
            </div>

            <!-- Create New Task btn -->

            <div class="row justify-content-center">
                <div class="col-lg-6  col-md-8 col-12">

                    <a type="button" class="btn btn-primary w-md-25 w-50" routerLink="/todo-form/add"> Create Task
                    </a>


                </div>
            </div>


        </div>
    </div>
    <!-- Container wrapper -->

</header>
<!-- Header -->