<!-- Navbar -->
<nav class="navbar navbar-expand-lg  shadow-sm">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <div class="d-flex align-items-center">
            <!-- Avatar -->
            <a class=" d-flex align-items-center ">
                <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="30" alt=""
                    loading="lazy" />
            </a>
            <!-- User Name -->
            <span class=" ms-1">{{userName.name}}</span>







        </div>
        <div class="d-flex align-items-end">
            <!-- Logout -->
            <a class="text-decoration-none " (click)="logout()">

                LogOut
                <i class="fas fa-sign-out-alt "></i>

            </a>

        </div>

    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->