<div *ngFor="let alert of errors" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<section class="mt-5">
    <!-- Container wrapper -->

    <div class="container p-sm-0 p-5">
        <!-- Row wrapper -->

        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-12 shadow p-3 bg-white rounded border">
                <div>
                    <div class="mb-3">
                        <label for="type" class="form-label"> Type </label>

                        <input [(ngModel)]="type" type="text" class="form-control" id="type" />
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label"> Amount </label>

                        <input [(ngModel)]="amount" type="number" class="form-control" id="amount" />
                    </div>
                    <div class="mb-3">
                        <label for="fromid" class="form-label"> From ID </label>

                        <input [(ngModel)]="fromId" type="text" class="form-control" id="fromid" />
                    </div>


                    <div class="mb-3">
                        <label for="toId" class="form-label"> To ID </label>

                        <input [(ngModel)]="toID" type="text" class="form-control" id="toId" />
                    </div>
                    <div class="mb-3">
                        <label for="note" class="form-label"> Note </label>

                        <input [(ngModel)]="note" type="text" class="form-control" id="note" />
                    </div>

                    <div class="mb-3 pt-3">
                        <button class="btn btn-primary" (click)="createNewTransaction()">
                            Add
                        </button>
                        <!-- Cancel -->

                        <button class="btn btn-secondary ms-3" routerLink="/home">
                            Cancel
                        </button>
                    </div>

                </div>

            </div>
        </div>
        <!-- Row wrapper -->
    </div>
    <!-- Container wrapper -->
</section>